---
layout: layouts/main
title: List of songs
---
<h1>List of songs</h1>
<ul class="sheet-list">
{%- for song in collections.songs | sortByTitle(true) -%}
	<li>
		<a href="{{ '/sheet/' + song.id + '/' | url }}">{{ song.title }} ({{ song.artist }})</a>
	</li>
{%- endfor -%}
</ul>
<p>
  {% include 'parts/back_to_home.njk' %}
</p>
