<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | {{ metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- if 'production' === app.env -%}
    <link rel="stylesheet" href="{{ '/assets/css/main.min.css?v=20210430' | url}}">
    <link rel="stylesheet" href="{{ '/assets/css/sheeteria_icons.min.css' | url}}">
    {%- else -%}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url}}">
    <link rel="stylesheet" href="{{ '/assets/css/sheeteria_icons.css' | url}}">
    {%- endif -%}
    {% include 'parts/gtag.njk' %}
  </head>
  <body>
    <header>
      <p class="site-title">
        <a href="{{ '/' | url }}">
          <img src="{{ '/assets/img/logo.png' | url }}" srcset="{{ '/assets/img/logo@2x.png' | url }} 2x" alt="Sheeteria">
        </a>
      </p>
      <p class="site-description">
        {{ metadata.description }}
      </p>
      <nav>
        <ul>
          <li>
            <a href="{{ '/' | url }}">Sheet Music</a>
          </li>
          <li>
            <a href="{{ '/about' | url }}">About</a>
          </li>
          <li>
            <a href="https://www.buymeacoffee.com/sheeteria" target="_blank" rel="noreferrer" data-label="buymeacoffee">Support</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCu_Dz2SPTeCunIDD_sOYcSw" target="_blank" rel="noreferrer" data-label="youtube"><i class="icon-youtube"><span class="sr-only">YouTube</span></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/sheeteriamusic/" target="_blank" rel="noreferrer" data-label="instagram"><i class="icon-instagram"><span class="sr-only">Instagram</span></i></a>
          </li>
          <li>
            <a href="https://twitter.com/sheeteriamusic" target="_blank" rel="noreferrer" data-label="twitter"><i class="icon-twitter"><span class="sr-only">Twitter</span></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <hr>

    <main>
      {{ content | safe }}
    </main>

    <hr>
    <footer>
      <p>
        Background: <a href="https://www.toptal.com/designers/subtlepatterns/" target="_blank" rel="noreferrer">Toptal Subtle Patterns</a>
      </p>
    </footer>
  </body>
</html>