---
permalink: /feed.xml
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <description>{{ metadata.description }}</description>
	  {%- for sheet in sheeteria -%}
	  {%- if sheet.published_on -%}
    <item>
      <title>{{ sheet.displayTitle }}</title>
      <link>{{ metadata.url + sheet.url }}</link>
      <pubDate>{{ sheet.published_on | rssDate }}</pubDate>
      <description>{{ sheet.description }} is out now!</description>
    </item>
    {%- endif -%}
    {%- endfor -%}
  </channel>
</rss>