---
permalink: ".htaccess"
---

{%- for sheet in sheeteria -%}
Redirect 301 /{{ sheet.id | shortslug }}	/sheet/{{ sheet.id | lower | replace('-', '/') }}/
{% endfor -%}
{% for song in collections.songs -%}
Redirect 301 /{{ song.id | shortslug }}	/sheet/{{ song.id | lower }}/
{% endfor -%}