---
layout: layouts/main
title: Home
---
<h1>Welcome</h1>
<p>
	Hello and welcome! This website introduces Hitomi Seki's piano arrangement works. Find your favourite songs from the list below and enjoy playing!
</p>
<h2>List of products</h2>
<fieldset>
	<table class="filters">
		<tbody>
			<tr>
				<th>Keyword:</th>
				<td>
				  <input id="keyword" type="text" placeholder="Song title or artist name" onkeyup="searchSheets(this.value)" aria-label="Search by song title or artist name" autocomplete="off">
				</td>
			</tr>
			<tr>
				<th>
					Look for:
				</th>
				<td>
					<label><input type="radio" name="filter-style" value="all" checked autocomplete="off">All</label>&nbsp;
					<label><input type="radio" name="filter-style" value="piano" autocomplete="off">Piano solo</label>&nbsp;
					<label><input type="radio" name="filter-style" value="easy" autocomplete="off">Easy piano</label>&nbsp;
					<label><input type="radio" name="filter-style" value="lead" autocomplete="off">Lead sheet</label>
				</td>
			</tr>
			<tr>
				<th>
					Sort by:
				</th>
				<td>
					<label><input type="radio" name="sort" value="pd" checked autocomplete="off">Latest</label>&nbsp;
					<label><input type="radio" name="sort" value="ttl" autocomplete="off">Title</label>&nbsp;
					<label><input type="radio" name="sort" value="art" autocomplete="off">Artist</label>
				</td>
			</tr>
			<tr>
				<th>
					View:
				</th>
				<td>
					<label><input type="radio" name="view" value="table" checked autocomplete="off">Table</label>&nbsp;
					<label><input type="radio" name="view" value="li" autocomplete="off">List</label>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>
{%- include 'parts/sheet_table.njk' -%}
{%- include 'parts/sheet_list.njk' -%}
<p id="nomatch" style="display: none;">Nothing found. Sorry!</p>
{%- if 'production' === app.env -%}
<script src="{{ '/assets/js/sheets.min.js' | url }}?v=20220811"></script>
{%- else -%}
<script src="{{ '/assets/js/sheets.js' | url }}"></script>
{%- endif -%}
