---
layout: layouts/main
title: Search sheet music
---
<h1>Search Sheet Music</h1>
<section>
	<p>
	  <input type="text" placeholder="Song title or artist name" onkeyup="searchSheets(this.value)" aria-label="Search by song title or artist name">
	</p>
	<table class="filters">
		<tbody>
			<tr>
				<th>
					Style:
				</th>
				<td>
					<label><input type="radio" name="filter-style" value="all" checked>All</label>&nbsp;
					<label><input type="radio" name="filter-style" value="s1">Piano solo</label>&nbsp;
					<label><input type="radio" name="filter-style" value="s2">Easy piano</label>&nbsp;
					<label><input type="radio" name="filter-style" value="s0">Lead sheet</label>
				</td>
			</tr>
			<tr>
				<th>
					Sort by:
				</th>
				<td>
					<label><input type="radio" name="sort" value="publish-date" checked>Publish date</label>&nbsp;
					<label><input type="radio" name="sort" value="title">Title</label>
				</td>
			</tr>
		</tbody>
	</table>
</section>
<section>
	<p id="nomatch" style="display: none;">No match found. Sorry!</p>
	<ul id="sheet-list" class="sheet-list">
	  {%- for sheet in collections.sheet -%}
	  {%- if sheet.data.publishDate -%}
	  <li data-kw="{{ sheet.data.keyword }}" data-f="{{ sheet.data.filters }}" data-pd="{{ sheet.data.publishDate | replace('-', '') }}">
	    <a href="{{ sheet.url }}">
	      {{ sheet.data.displayTitle }}
	    </a>
	  </li>
	  {%- endif -%}
	  {%- endfor -%}
	</ul>
	{%- if 'production' === app.env -%}
	<script src="{{ '/assets/js/sheets.min.js' | url }}?v=20210520"></script>
	{%- else -%}
	<script src="{{ '/assets/js/sheets.js' | url }}"></script>
	{%- endif -%}
</section>
