---
layout: layouts/main
tags:
  - sheet
pagination:
  data: sheeteria
  size: 1
  addAllPagesToCollections: true
  alias: sheet
permalink: "/sheet/{{ sheet.id | lower | replace('-', '/') }}/index.html"
eleventyComputed:
  title: "{{ sheet.title | safe }} ({{ sheet.artist | safe }}) - {{ sheet.style if sheet.style == 'Lead Sheet' else sheet.style + ' Sheet Music' | safe }}"
  displayTitle: "{{ sheet.title | safe }} ({{ sheet.artist | safe }}) - {{ sheet.style | safe }}"
  keyword: "{{ sheet.title | lower }} {{ sheet.artist | lower }}"
  description: "{{ sheet.style if sheet.style == 'Lead Sheet' else sheet.style + ' Sheet Music' | safe }} for {{ sheet.artist | safe }}'s {{ sheet.title | safe }}"
  filters: "{{ sheet.style | sheetFilter }}"
  publishDate: "{{ sheet.published_on }}"
---
<article class="sheet-detail">
  <h1>
    {{- sheet.title -}}<br>
    {{- sheet.style -}}
  </h1>
  {%- if sheet.youtube -%}
  <p>
    <iframe width="442" height="250" src="https://www.youtube.com/embed/{{ sheet.youtube | replace('https://youtu.be/', '') }}" title="{{ sheet.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>
  {%- endif -%}
  <table>
    <tbody>
      <tr>
        <th>
          Artist
        </th>
        <td>
        {% set artists = sheet.artists %}
        {% include 'parts/artist_credit.njk' %}
        </td>
      </tr>
      {%- if 'Lead Sheet' != sheet.style -%}
      <tr>
        <th>
          Level
        </th>
        <td>
          {{ 'Beginner' if 'Easy Piano' == sheet.style else 'Intermediate/advanced' }}
        </td>
      </tr>
      {%- endif -%}
      <tr>
        <th>
          Key
        </th>
        <td>
          {{ sheet.key }} (original: {{ sheet.org_key }})
        </td>
      </tr>
      {%- if sheet.published_on -%}
      <tr>
        <th>
          Published on
        </th>
        <td>
          {{ sheet.published_on.slice(0, 10) }}
        </td>
      </tr>
      {%- endif -%}
      {%- if sheet.org_url -%}
      <tr>
        <th>
          Original
        </th>
        <td>
          <a href="{{ sheet.org_url }}" target="_blank" rel="noreferrer">{{ sheet.org_type or "Official music video" }}</a>
        </td>
      </tr>
      {%- endif -%}
      {%- if sheet.comment -%}
      <tr>
        <th>
          Arranger's comment
        </th>
        <td>
          {{ sheet.comment }}
        </td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
  <p>
    {%- if sheet.store_url -%}
    <a class="btn" href="{{ sheet.store_url }}" target="_blank" rel="noreferrer" data-label="buy_{{ sheet.id }}">Buy sheet music</a>
    {%- else -%}
    Coming soon!
    {%- endif -%}
  </p>
</article>

<p>
  <a href="{{ '../' | url }}">&laquo; See other versions for the song</a><br>
  <a href="{{ '/' | url }}">&laquo; Back to sheet list</a>
</p>