---
layout: layouts/main
pagination:
  data: collections.songs
  size: 1
  alias: song
permalink: "/sheet/{{ song.id | lower }}/index.html"
eleventyComputed:
  title: "{{ song.title | safe }} ({{ song.artist | safe }}) Sheet Music"
  description: "All Sheet Music for {{ song.artist | safe }}'s {{ song.title | safe }}"
---
<article>
  <h1>
    {{- song.title -}}<br>
    ({{- song.artist -}})
  </h1>
  <ul>
    {%- for id, style in song.sheetList -%}
    <li>
      <a href="{{ './' + id + '/' | url }}">{{ style }}</a>
    </li>
    {%- endfor -%}
  </ul>
</article>
<p>
  <a href="{{ '/' | url }}">&laquo; Back to sheet list</a>
</p>