---
layout: layouts/main
pagination:
  data: collections.songs
  size: 1
  alias: song
permalink: "/sheet/{{ song.id | lower }}/index.html"
eleventyComputed:
  title: "Sheet music for {{ song.title | safe }} ({{ song.artist | safe }})"
  description: "All Sheet Music for {{ song.artist | safe }}'s {{ song.title | safe }}"
---
<article>
  <h1>
    Sheet music for "{{ song.title -}}"
  </h1>
  {% set artists = song.artists %}
  <p>By {% include 'parts/artist_credit.njk' %}</p>
  <ul>
    {%- for sheet in song.sheetList | sortById(true) -%}
    <li>
      <a href="{{- sheet.url | url -}}">{{- sheet.style -}}</a>
    </li>
    {%- endfor -%}
  </ul>
</article>
<p>
  {% include 'parts/back_to_home.njk' %}
</p>